.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.6); 
    color: #fff; 
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: #bc9697; 
}

.navbar .nav-links {
    display: flex;
}

.navbar .nav-link {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s;
}

.navbar .nav-link:hover {
    color: #bc9697;  
}
